---
username: USERNAME
gunicorn_port: XXXXX
django_project_name: PROJECT_NAME
git_repo: {{ username }}@{{ username }}.webfactional.com:/home/{{ username }}/webapps/git/repos/{{ django_project_name }}.git
libevent_source_url: https://github.com/downloads/libevent/libevent/libevent-2.0.21-stable.tar.gz
